!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PVM Assignment</title>
    <%= stylesheets('pvm') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor', 'revealer') %>
    <%= Html::Generation::Quiz.setup %>
    <style>
      table.codebook {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
      }

      table.codebook td {
        text-align: center;
      }

      table.codebook th {
        padding: 0em 1em;
      }

      table.codebook tr {
        border-top: 1px black solid;
        border-bottom: 1px black solid;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="center-vertically">Huffman</div>
    </header>
    <div id="contents">
      <p>
        Since there's generally more than one way to build the Huffman tree, it is rather
        difficult to provide you with automatically validated exercises. The only
        guarantee is that in the end, all Huffman encoding of a specific string
        will count the same amount of bits.
      </p>
      <p> 
        To allow you to practice at will, a Huffman implementation has been included in the repository,
        in the same folder as this html. You can use it to verify your solutions to your own exercises.
      </p>
      <p>
        Below are a few exercises, but the validation is rather limited.
      </p>
      <%=
         exercise(Lib::Numerical) do
           <<-END
             <p>
               Compute the Huffman encoding of the given strings and enter how many bits the encoding counts.
             </p>
             <ul>
               <li>
                 <code>ab</code>: #{show_input_field(2, 0)} bits
               </li>
               <li>
                 <code>abab</code>: #{show_input_field(4, 0)} bits
               </li>
               <li>
                 <code>abcabc</code>: #{show_input_field(10, 0)} bits
               </li>
               <li>
                 <code>aabaaababaaccbd</code>: #{show_input_field(25, 0)} bits
               </li>
               <li>
                 <code>abacadadbcbadabcabcabdadaabccc</code>: #{show_input_field(60, 0)} bits
               </li>
               <li>
                 <code>AaaAAaaAAaaAAaaAAaaA</code>: #{show_input_field(20, 0)} bits
               </li>
             </ul>
           END
         end
      %>
      <%=
         exercise(Lib::Numerical) do
           <<-END
             <p>
               Huffman does not need to work on a per-byte basis. For example,
               you can take pairs of bytes as "units of data". Say
               your input data is <code>ABBAABBA</code>. Grouping
               these characters into pairs yields <code>AB BA AB BA</code>.
               There are only two different pairs: <code>AB</code> and <code>BA</code>,
               each with frequency 2. This means you can represent each pair using
               one bit, for example <code>AB</code> as <code>0</code>
               and <code>BA</code> as <code>1</code>, resulting
               in <code>1010</code> as final Huffman encoding.
             </p>
             <p>
               Perform the same calculations as in the previous exercise,
               but with different "units of data".             
             </p>
             <ul>
               <li>
                 <code>abba</code>, group size = 2 bytes: #{show_input_field(2, 0)} bits
               </li>
               <li>
                 <code>abcxyzabcxyz</code>, group size = 3 bytes: #{show_input_field(4, 0)} bits
               </li>
               <li>
                 <code>abaababb</code>, group size = 2 bytes: #{show_input_field(8, 0)} bits
               </li>
               <li>
                 <code>73NVZ073NVNVtsNV737373Z0737373</code>, group size = 2 bytes: #{show_input_field(25, 0)} bits
               </li>
               <li>
                 <code>4;#710LMNVWH4;#VWHVWH4;#4;#4;#VWH4;#4;#LMN4;#</code>, group size = 3 bytes: #{show_input_field(25, 0)} bits
               </li>
             </ul>
           END
         end
      %>
      <%=
         exercise(Lib::Numerical) do
           extend SourceCodeMixin

           self.source = <<-END
             11101110100100100111001111010100000011011111010001110001010100101001110001101101100100011101011111110010111000001001101111011001111010110101001111011011001110000001110101111111001011100000110010101101111010
           END
         
           <<-END
             <table class="codebook">
               <tbody>
                 <tr>
                   <th>Character</th><th>Encoding</th>
                 </tr>
                 <tr><td>space</td><td><code>00</code></td></tr>
                 <tr><td><code>,</code></td><td><code>110101</code></td></tr>
                 <tr><td><code>a</code></td><td><code>110100</code></td></tr>
                 <tr><td><code>d</code></td><td><code>11100</code></td></tr>
                 <tr><td><code>e</code></td><td><code>010</code></td></tr>
                 <tr><td><code>f</code></td><td><code>110111</code></td></tr>
                 <tr><td><code>g</code></td><td><code>110110</code></td></tr>
                 <tr><td><code>h</code></td><td><code>0111</code></td></tr>
                 <tr><td><code>i</code></td><td><code>1011</code></td></tr>
                 <tr><td><code>l</code></td><td><code>11001</code></td></tr>
                 <tr><td><code>m</code></td><td><code>110001</code></td></tr>
                 <tr><td><code>n</code></td><td><code>0110</code></td></tr>
                 <tr><td><code>o</code></td><td><code>1111</code></td></tr>
                 <tr><td><code>r</code></td><td><code>1001</code></td></tr>
                 <tr><td><code>s</code></td><td><code>1000</code></td></tr>
                 <tr><td><code>t</code></td><td><code>1010</code></td></tr>
                 <tr><td><code>w</code></td><td><code>11101</code></td></tr>
                 <tr><td><code>y</code></td><td><code>110000</code></td></tr>
               </tbody>
             </table>
             <p>
               Given the Huffman encoding above, decode the following:
             </p>
             #{show_source_editor}
             <p>
               Decoding: #{Quiz.validated_input { verbatim 'war does not determine who is right, only who is left' }}
             </p>
           END
         end
      %>
    </div>
  </body>

  <script>
    Quiz.formatQuizzes();
    SourceEditor.initialize();
    Revealer.initialize();
  </script>
</html>
