<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PVM Assignment</title>
    <%= stylesheets('pvm') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor', 'revealer') %>
    <%= Html::Generation::Quiz.setup %>
  </head>

  <body>
    <header>
      <div class="center-vertically">Compression</div>
    </header>
    <div id="contents">
      <%=
         exercise(Lib::Numerical) do
           extend SourceCodeMixin

           self.source = <<-END
             struct Date
             {
               int day, month;
             };
           END

           <<-END
             #{show_source_editor}
             <p>
               If I wish to use the struct above, how many bits are used per object?  (Assuming 32 bit platform)
             </p>
             #{show_input_field(64, 0)}
             <p>
               How many ibits are necessary to encode a date of the year (assuming 366 days per year).
             </p>
             #{show_input_field(8.5157, 0.1)}
           END
         end
      %>
    </div>
  </body>

  <script>
    Quiz.formatQuizzes();
    SourceEditor.initialize();
    Revealer.initialize();
  </script>
</html>
