<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PVM Assignment</title>
    <%= stylesheets('pvm') %>
    <%= scripts('jquery', 'jquery-ui', 'underscore', 'ace/ace', 'source-editor', 'revealer') %>
    <%= Html::Generation::Quiz.setup %>
    <style>
      section.question {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      
    </style>
  </head>

  <body>
    <header>
      <div class="center-vertically">Sound</div>
    </header>
    <div id="contents">
      <section>
        <h1>Foo</h1>
        Bla
        <%=
          exercise do
            <<-END
              <p>
                You are given a small hierarchy: superclass <code>Shape</code> and subclasses <code>Square</code> and <code>Circle</code>.
              </p>
              <ul>
                <li>
                  Write a function <code>bool is_square(const Shape*)</code> that returns <code>true</code> if the given object is a <code>Square</code>, <code>false</code> otherwise.
                </li>
                <li>
                  Write a template function <code>is_instance_of</code> that allows to check for arbitrary <code>Shape</code> subclasses. E.g. <code>is_instance_of&lt;Circle&gt;(obj)</code>
                  should return <code>true</code> if <code>obj</code> is a <code>Circle</code>, <code>false</code> otherwise.
                </li>
              </ul>
              <p>
                The rests expects to find this extra functionality in <code>square.h</code> and <code>square.cpp</code>; therefore, no need to create new files.
              <p>
            END
          end
        %>
      </section>

    </div>
  </body>

  <script>
    Quiz.formatQuizzes();
    SourceEditor.initialize();
    Revealer.initialize();
  </script>
</html>
